---
pagination:
  data: photocategories
  size: 1
  alias: category
permalink: /photos/{{ category }}/
layout: default
title: Photos
fadein: true
---

<div class="photos-page category-page">
  {% include "photoblurb.md" %}

  <div class="filter-bar">
    <div id="myBtnContainer">
      <button class="btn" onclick="filterSelection('latest', this)">Latest</button>
      <button class="btn" onclick="filterSelection('all', this)">All</button>
      <button class="btn" onclick="showMore()">More...</button>
      <div id="more">
        <button class="btn" onclick="filterSelection('flowers', this)">Flowers</button>
        <button class="btn" onclick="filterSelection('water', this)">Water</button>
        <button class="btn" onclick="filterSelection('rural', this)">Rural</button>
        <button class="btn" onclick="filterSelection('village', this)">Village</button>
        <button class="btn" onclick="filterSelection('urban', this)">Urban</button>
        <button class="btn" onclick="filterSelection('trails', this)">Trails</button>
      </div>
    </div>
  </div>

  <div id="gallery-grid">
    {% for item in photos %}
      {% if item.category == category %}
        <div class="column {{ item.category }}">
          <div class="text-block">{{ item.title }}</div>
          <a href="{{ item.filename }}">
            <img src="{{ item.filename }}" loading="lazy"/>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% include "gallery-assets.html" %}
