<head>
  <link rel="icon" href="/favicon.png" type="image/png" />
</head>
<header class="site-header" role="banner">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
  <div class="wrapper">
    <a class="site-title" rel="author" href="/"><img src="/images/romansig.png" style="width:105px; height:50px;" /></a>
    <nav class="site-nav" style="z-index:1; font-family: 'Space Grotesk', sans-serif">
      <div class="trigger">
        <a class="page-link" href="/paintings/">Paintings</a>
        <a class="page-link" href="/photos/">Photos</a>
        <a class="page-link" href="/writing/">Writing</a>
      </div>
    </nav>
  </div>
</header>
