<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

img {
  opacity: 1; 
  cursor: pointer;
}

img:hover {
  opacity: 0.8;
}

.modal-content:hover {
  opacity: 1;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
  width: auto;
  height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: auto;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.2s;
}


@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 0px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Style the buttons */
.btn {
  outline: 1px;
  border: 0px;
  outline-style: dotted;
  outline-color: #010101;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.center {
  text-align: center;
}

</style>
<!-- two columns -->
<div class="column">
   <img class="myImg" id="myImg" src="{{ file.path }}" alt="" style="width:100%" onclick="myFunction(this);">
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

function myFunction(imgs) {
 var imgText = document.getElementById("imgtext");
  modal.style.display = "block";
  modalImg.src = imgs.src;
  captionText.innerHTML = img.alt;
  imgText.innerHTML = imgs.alt;

}

// Get the <span> element that closes the modal - swapped close with modal so they can click anywehere
var span = document.getElementsByClassName("modal")[0];

// When the user clicks on <span> (x) - or anywhere, close the modal
span.onclick = function() {
  modal.style.display = "none";
} 
</script>
