---
pagination:
  data: photocategories
  size: 1
  alias: category
permalink: /photos/{{ category }}/
layout: default
---

<div class="photos-page">
  {% include "photoblurb.md" %}
  <div id="gallery-grid">
    {% for item in photos %}
      {% if item.category == category %}
        <div class="column {{ item.category }}">
          <div class="text-block">{{ item.title }}</div>
          <a href="{{ item.filename }}">
            <img src="{{ item.filename }}" loading="lazy"/>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<link rel="stylesheet" href="/css/lightbox.css">
<link rel="stylesheet" href="/css/columns.css">
<script src="/js/lightbox.js"></script>
